<nav class="navbar navbar-expand-md  bg-body-light border-bottom sticky-top">
  <div class="logo">
    <a class="navbar-brand" href="/"><span class="material-symbols-outlined">
      home_pin
      </span></a>
  </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">My Community</a>
        <a class="nav-item nav-link" href="#">Add Community</a>
        <a class="nav-item nav-link" href="#">Notifications</a>
        
      </div>
      <div class="navbar-nav ms-auto">
        <%if(!currUser){%>
        <a class="nav-item nav-link active" href="/signup">Sign Up</a>
        <a class="nav-item nav-link" href="/login">Login</a>
        <%}%>
     
        <%if(currUser){%>
          <a class="nav-item nav-link" href="/logout">Log out</a>
        <%}%>

        
        
      </div>
    </div>
  </nav>